
<div class="container">
<div class="flex flex-col lg:flex-row">
      <div class="  lg:w-2/5 w-full">
        <img class=" my-10  w-full h-32  border-2 border-transparent" src="/images/home-image/tentuff-logo.png" alt="">
       <div class="flex flex-col justify-center">
            <div class="my-3 px-1 w-full flex justify-between lg:my-4 lg:px-4 ">   <!-- Article -->
            <article class="items-center ">

                <div class="w-1/2 ">
                    <img src="/images/landingpage/burglers.png"
                        class="foto w-full h-full object-cover"
                        alt="description" />
                    </div>

            </article>
            <!-- END Article -->
            <!-- Article -->
            <article class=" items-center ">

                <div class="w-1/2">
                    <img src="/images/landingpage/3point.png"
                        class="foto w-full h-full object-cover"
                        alt="description" />
                    </div>

                
            </article>
            <!-- END Article -->
            </div>
            <div class=" flex justify-between lg:my-4 lg:px-4 "> 
            <!-- Article -->
            <article class=" items-center ">

                <div class="w-1/2 " >
                    <img src="/images/landingpage/block.png"
                        class="foto w-full h-full object-cover"
                        alt="description" />
                    </div>
            </article>
            <!-- END Article -->
            <!-- Article -->
            <article class=" items-center ">

                <div class="w-1/2 ">
                    <img src="/images/landingpage/corrosion.png"
                        class="foto w-full h-full object-cover"
                        alt="description" />
                    </div>
            </article>
            <!-- END Article -->
            </div>
            <div class="my-3 px-1 w-full flex  justify-between lg:my-4 lg:px-4 "> 
            <!-- Article -->
            <article class=" items-center ">

                <div class="w-1/2 ">
                    <img src="/images/landingpage/air.png"
                        class="foto w-full h-full object-cover"
                        alt="description" />
                    </div>
            </article>
            <!-- END Article -->
            <!-- Article -->
            <article class=" items-center ">

                <div class="w-1/2 ">
                    <img src="/images/landingpage/seemless.png"
                        class="foto w-full h-full object-cover"
                        alt="description" />
                    </div>
            </article>
            <!-- END Article -->
            </div>
        </div>
    </div>

    <!-- content Area-->
      <div class="p-4 w-full lg:w-3/5 my-6 lg:ml-10">
<h2 class=""> {{.Params.compareh1}}</h2>
<p class="my-4 text-left"> {{.Params.comparep1}}</p>
<p class="mb-4 text-left">{{.Params.comparep2}} </p>
    <p class=" text-left">{{.Params.compareH}}{{.Params.comparep3}}</p>
    

<p class="text-left">{{.Params.compareH}}{{.Params.comparep4}}</p>
    <p class="mt-4"></p>
        <p class="mb-4"> {{.Params.compareh2}}{{.Params.comparep5}} <span class="font-semibold">{{.Params.phone1}}</span> {{.Params.comparep51}}<br/>
            <span class="font-semibold">  {{.Params.addres}}</span><br/>
    <br/>
    {{.Params.comparep6}}</p>
<h2 class="my-4">{{.Params.compareh3}} </h2>
<div class="grid md:grid-cols-2 gap-6">
    <ul class="list-disc lg:ml-4">
       <li>{{.Params.comparel1}}</li> 
       <li>{{.Params.comparel2}}</li> 
       <li>{{.Params.comparel3}}</li> 
       <li>{{.Params.comparel4}}</li> 
    </ul>
    <ul class="list-disc">
        <li>{{.Params.comparel5}}</li> 
        <li>{{.Params.comparel6}}</li> 
        <li>{{.Params.comparel7}}</li> 
        <li>{{.Params.comparel8}}</li> 
     </ul>
</div>
      </div>
    </div>
</div>